<ul>
  {% for parent in site.data.cuisines %}
    <li>
      {{ parent.name }}
      <ul>
        {% for sub in parent.subtypes %}
          {% assign tagPosts = site.tags[sub] | where_exp:"item", "item.categories contains 'restaurant'" %}
          {% assign count = tagPosts | size %}
          {% if count != 0 %}
            <li><a href="/categories/cuisines/{{sub | url_encode}}/">{{sub | capitalize}}</a> ({{count}})</li>
          {% endif %}
        {% endfor %}
      </ul>
    </li>
  {% endfor %}
</ul>