<footer>
  <div class="social">
    <h2>Social Media</h2>
    <ul>
      <li><a class="icon twitter" title="HocoNomNom on Twitter" href="https://twitter.com/HocoNomNom">Twitter</a></li>
      <li><a class="icon instagram" title="HocoNomNom on Instagram" href="https://www.instagram.com/hoconomnom/">Instagram</a></li>
      <li><a class="icon email" title="Email HocoNomNom" href="mailto:hoconomnom@gmail.com">Email</a></li>
      <li><a class="icon rss" title="HocoNomNom Atom Feed" href="/feed.xml">Atom Feed</a></li>
    </ul>
  </div>
  
  <div class="related">
    <h2>Other Links</h2>

    <div class="row">
      <div class="col">
        <h3>Food Links</h3>
        <ul>
            <li><a href="https://www.reddit.com/r/HoCoFood/">Reddit - HoCoFood</a></li>
            <li><a href="http://howchow.blogspot.com/">HowChow blog</a></li>
        </ul>
      </div>
  
      <div class="col">
        <h3>Howard County Links</h3>
        <ul>
          <li><a href="https://www.visithowardcounty.com/">Howard County Tourism</a></li>
          <li><a href="http://hoco360.blogspot.com/">HoCo360</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>