
<script src="/assets/js/howardcounty.js"></script>
<script>
  var map = L.map('mapid').setView([39.235278, -76.941389], 11);

  L.tileLayer('https://basemap.nationalmap.gov/ArcGIS/rest/services/USGSTopo/MapServer/tile/{z}/{y}/{x}', {
    ext: 'png',
    minZoom: 11,
    maxZoom: 16,
    attribution: '<a href="https://www.doi.gov">U.S. Department of the Interior</a> | <a href="https://www.usgs.gov">U.S. Geological Survey</a> | <a href="https://www.usgs.gov/laws/policies_notices.html">Policies</a>'
  }).addTo(map);
  
  {% for post in include.list %}
    {% if post.latlong %}
      L.marker([{{post.latlong[0]}},{{post.latlong[1]}}]).addTo(map)
        .bindPopup('<a href="{{post.url}}">{{post.name | smartify}}</a><br/>Posted: {{ post.date | date: "%m/%d/%Y"}}');
    {% endif %}
  {% endfor %}

  var invertGeoJson = {
    "type": "Polygon",
    "coordinates": [
      [
        [90, -180],
        [90, 180],
        [-90, 180],
        [-90, -180]
      ],
      howardcounty.features[0].geometry.coordinates[0]
    ]
  }

  L.geoJSON(invertGeoJson, {
    style: {
	    fillColor: "#333333",
      "opacity": 0.5
    }
  }).addTo(map);
</script>