@font-face {
  font-family: 'Phosphate-Inline';
  src: url('/assets/fonts/Phosphate-Inline.woff2') format('woff2'),
      url('/assets/fonts/Phosphate-Inline.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

