main.listing {
  article {
    margin: 1.5rem 0;

    .content p:last-child {
      margin: 0;
    }

    .continue {
      margin: 1rem 0;
    }
    
    .footer {
      margin-top: 0.3rem;
      font-size: 0.8rem;
    }

    .tags {
      color: $color-gray-dark;
    }
  }

  h2 {
    font-size: 1.5rem;;
    margin-bottom: 0.5rem;
  }
}