#mc_embed_signup_scroll {
  label {
    display: block;
  }

  #mce-EMAIL {
    font-size: 0.8rem;
    width: 100%;
    max-width: 400px;
    height: 2rem;
    padding: 1rem 0.5rem;
    margin: 0.5rem 0 0.3rem;
  }
}