// Colors

$color-primary: #3AAFA9;
$color-primary-darker: #2B7A78;
$color-primary-lighter: #DEF2F1;

$color-primary-contrast: #AF3A40;
$color-secondary: #6E3AAF;
$color-tertiary: #7BAF3A;

$color-gray: #808080;
$color-gray-dark: #696969;
$color-gray-light: #D3D3D3;

$color-dark: #17252A;
$color-light: #FEFFFF;

$color-primary-font: $color-dark;
$color-primary-font-contrast: $color-light; 


// Breakpoints

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;