@import 'variables';
@import 'mixins';
@import 'fonts';
@import 'header';
@import 'footer';
@import 'sidebar';
@import 'subscribe';
@import 'listing-post';
@import 'post';
@import 'photo';

html {
  font: 16px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

  @include lg {
    font-size: 14px;
  }
}

body {
  position: relative;
  margin: 0;
  background-color: #fff;
  color: $color-primary-font;
}

* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}
 
.main-wrapper {
  padding: 1rem 0.5rem;

  @include lg {
    margin: 0 3rem;
  }
}

.two-column {
  margin-bottom: 2rem;

  & > aside {
    margin-top: 1rem;
  }

  @include lg {
    display: flex;
    & > main {
      margin-right: 2rem;
      flex: 3 1 0;
    }

    & > aside {
      margin-top: 0;
      flex: 1 1 0;
    }
  }
}

.hide {
  display: none;
}

a {
  text-decoration: none;

  &:hover, &:focus {
    text-decoration: underline;
  }

  &.nostyle {
    color: inherit;

    &:hover, &:focus {
      text-decoration: none;
    }
  }
}

span.date {
  font-size: 0.8rem;
  display: inline-block;
  padding: 0.2em 0.8em;
  font-weight: bold;
  background: $color-gray;
  color: $color-primary-font-contrast;
  margin-bottom: 0.5rem;
}

.backButton {
  margin-bottom: 1rem;
}

#disqus_thread {
  margin-bottom: 2rem;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

h1, h2, h3 {
  line-height:1.1;
}

img {
  max-width:100%;
}
