<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HoCoNomNom{% if page.title %} - {{ page.title }} {% endif %}</title>
    
    <meta property="og:title" content="{% if page.title %}{{page.title}}{% else %}HoCoNomNom{% endif %}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{site.url}}{{page.url}}"/>
    <meta property="og:image" content="{% if post.og_image %}{{ post.og_image }}{% else %}https://lh3.googleusercontent.com/oOIDTrz5LwRENCfScCEJJe9a7oHs1Oyr5asFloWD37vM-g4JY22wcFCRKo2lCWJdITZ1utlSo0PVx_3tCYYUU7ZwHiZ_jvdwd_ejg_BMhjVuPiaPMogoiSoJND5J58xlwWgWj517=w400{% endif %}"/>


    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
    <link rel="stylesheet" href="/assets/css/styles.css">
    
    {% seo %}
    
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-ML2GC6D');</script>
    <!-- End Google Tag Manager -->
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-ML2GC6D"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    {% include header.html %}
    
    <div class="main-wrapper">
      {{ content }}
      {% include comments.html %}
    </div>

    {% include footer.html %}
  </body>
</html>
