<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Hoco Nom Nom - {{ page.title }}</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
    </nav>
    <section>
      {{ content }}
    </section>

    {% if page.comments %}
    <!-- Comments -->
    <div id="disqus_thread"></div>
    <script>
      var disqus_config = function () {
        this.page.url = "{{ page.url }}";
        this.page.identifier = "{{ page.id }}";
      };
      (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = 'https://hoconomnom.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    {% endif %}
    
    <footer>
      &copy; to me
    </footer>
  </body>
</html>

