---
layout: default
---

<div class="two-column">
  <main class="main single clearfix">
    <div class="backButton hide">
      <a href="/page">Back to Posts</a>
    </div>

    <span class="date">{{ page.date | date: "%A, %B %-d, %Y"}}</span>
    <h1>{{ page.title }}</h1>

    {{ content }}

    {% if page.social %}
    <section>
      <h3>
        More Links
        {% if page.name %}
        of {{page.name}}
        {% endif %}
      </h3>
      <ul>
        {% if page.social.gmap %}
          <li><a href="{{ page.social.gmap }}">See on a map</a></li>
        {% endif %}
        {% if page.social.yelp %}
          <li><a href="{{ page.social.yelp }}">Yelp</a></li>
        {% endif %}
        {% if page.social.instagram %}
          <li><a href="{{ page.social.instagram }}">Instagram</a></li>
        {% endif %}
        
      </ul>
    </section>
    {% endif %}
  </main>

  <aside class="sidebar">
    {% include sidebar-post.html %}
  </aside>
</div>

<script>
  // Display back button
  document.addEventListener("DOMContentLoaded", function() {
    const urlParams = new URLSearchParams(window.location.search);
    const myParam = urlParams.get('backurl');
    if(myParam) {
      var backButtonList = document.getElementsByClassName('backButton');
	    backButtonList[0].classList.remove('hide');

      var backLink = backButtonList[0].querySelector('a');
      var backUrl = (myParam === 'page1') ? '/' : `/${myParam}/`;
      backLink.setAttribute('href', backUrl);
    }
  });
</script>