---
layout: default
---

<div class="two-column">
  <main class="main single clearfix">

    <!-- Breadcrumb -->
    <div class="backButton">
      <a href="/">Back to Posts</a>
    </div>

    <!-- Date -->
    <span class="date">{{ page.date | date: "%A, %B %-d, %Y"}}</span>

    <!-- Title -->
    <h1>{{ page.title }}</h1>

    {% if page.closed %}
    <div class="alert alert-warn alert-closed">
      Unfortunately, this establishment is now closed permanently.
    </div>  
    {% endif %}

    <!-- Content -->
    {{ content }}

    {% if page.social %}
    <!-- More Links -->
    <section>
      <h3>
        More Links
        {% if page.name %}
        of {{page.name}}
        {% endif %}
      </h3>
      <ul>
        {% if page.social.gmap %}
          <li><a href="{{ page.social.gmap }}">See on a map</a></li>
        {% endif %}
        {% if page.social.website %}
          <li><a href="{{ page.social.website }}">Official website</a></li>
        {% endif %}
        {% if page.social.yelp %}
          <li><a href="{{ page.social.yelp }}">Yelp</a></li>
        {% endif %}
        {% if page.social.instagram %}
          <li><a href="{{ page.social.instagram }}">Instagram</a></li>
        {% endif %}
        {% if page.social.twitter %}
          <li><a href="{{ page.social.twitter }}">Twitter</a></li>
        {% endif %}
        {% if page.social.facebook %}
          <li><a href="{{ page.social.facebook }}">Facebook</a></li>
        {% endif %}
      </ul>
    </section>
    {% endif %}

    <!-- Contact -->
    {% include contact-blurb.html %}

    <!-- Tags -->
    <div class="tags">
      {% if page.tags != empty %}
        Tags: {{ page.tags | array_to_sentence_string }}
      {% endif %}
    </div>

  </main>

  <aside class="sidebar">
    {% include sidebar-post.html %}
  </aside>
</div>

<script>
  // Display back button
  document.addEventListener("DOMContentLoaded", function() {
    const urlParams = new URLSearchParams(window.location.search);
    const myParam = urlParams.get('backurl');
    var backButtonList = document.getElementsByClassName('backButton');

    var backLink = backButtonList[0].querySelector('a');
    var backUrl = (myParam && myParam !== 'page1') ? `/${myParam}/` : '/';
    backLink.setAttribute('href', backUrl);
  });
</script>